{% extends 'layout.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-3 muze-bar">
			<h3>EchoChamber</h3>
		</div>
		<div class="col-md-3 artist-bar">
			<h3>{{artist.name}}</h3>
		</div>
		<div class="col-md-4 album-bar">
			<h3>{{album.title}}</h3>
		</div>
	</div>
		<div class="row title-links">
		<hr>
		<div class="col-md-2">
			<a href="{{url_for('showSongs', artist_id=artist.id, album_id=album.id)}}">Cancel</a>
		</div>
	</div>
	<div class="row">
	<hr>
	<div class="col-md-6">
		<form action="{{url_for('editAlbum', artist_id=artist.id, album_id=album.id)}}" method='POST'>
			Album Name:
			<br>
			<input type="text" name="title" value="{{album.title}}">
			<br>
			Album Art URL:
			<br>
			<input type="text" name="picture" value="{{album.albumArtUrl}}">
			<br>
			Album Info:
			<br>
			<input type="text" name="description" value="{{album.description}}">
			<br>
			<br>
			<input class="submit" type="submit" value="Update">
		</form>
	</div>
</div>
{% endblock %}